<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>,My App</title>
</head>
<body style="text-align: center;background-color: rgb(241, 193, 134);margin: 20%;">
    <div class="about">
        
       <h1> Hi, my name is Babalola Made.</h1>
       
       <h2>A student of Computer Engineering in The Great Federal University Oye Ekiti, Ikole Campus.</h2>
    </div>
    <div class="virtual">
        <label>
            Code To Create Virtual Environment.
        </label>
        <h4>
            python -m venv env
           
        </h4>
        <label>
            Code To Activate Virtual environment.
        </label>
        <H4>
            env\scripts\activate
        </H4>
    </div>
    

    
</body>
</html>